<nav class="navbar navbar-expand-lg navbar-transparent" color-on-scroll="100" id="navbar-top">
  <div class="container">
    <div class="navbar-translate" style="text-align: center;">
      
      <svg [routerLink]="['/home']" class="navbar-brand" placement="bottom" width="72px" height="72px" viewBox="0 0 150 150" version="1.1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink">
        <!-- Generator: Sketch 59.1 (86144) - https://sketch.com -->
        <title>Artboard Copy</title>
        <desc>Created with Sketch.</desc>
        <g id="Artboard-Copy" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <rect fill="#171941" x="0" y="0" width="150" height="150"></rect>
          <g id="Group" transform="translate(16.000000, 18.000000)">
            <path
              d="M36.7742979,16.8170213 L42.0716596,16.8170213 L36.1048511,37.1914894 L30.6619574,37.1914894 L27.9259574,27.3244255 L27.664,25.8982128 L27.4311489,27.3244255 L24.6951489,37.1914894 L19.2522553,37.1914894 L13.2854468,16.8170213 L18.5828085,16.8170213 L21.7845106,28.4304681 L22.0464681,29.9148936 L22.2793191,28.4304681 L25.3354894,16.8170213 L30.021617,16.8170213 L33.0777872,28.4304681 L33.2815319,29.9148936 L33.5725957,28.4304681 L36.7742979,16.8170213 Z M56.4545469,16.8170213 L61.4899512,16.8170213 L61.4899512,37.1914894 L56.4545469,37.1914894 L56.4545469,28.9834894 L49.2652703,28.9834894 L49.2652703,37.1914894 L44.2298661,37.1914894 L44.2298661,16.8170213 L49.2652703,16.8170213 L49.2652703,24.2973617 L56.4545469,24.2973617 L56.4545469,16.8170213 Z M71.3322428,16.8170213 L76.9788811,16.8170213 L84.6629662,37.1914894 L79.2491789,37.1914894 L77.8811789,33.3494468 L70.4299449,33.3494468 L69.0619449,37.1914894 L63.6481577,37.1914894 L71.3322428,16.8170213 Z M74.5339449,23.9480851 L74.1555619,22.7547234 L73.7771789,23.9480851 L71.9725832,29.0708085 L76.3385406,29.0708085 L74.5339449,23.9480851 Z M82.3678961,16.8170213 L99.7444067,16.8170213 L99.7444067,21.5031489 L93.5738535,21.5031489 L93.5738535,37.1914894 L88.5384493,37.1914894 L88.5384493,21.5031489 L82.3678961,21.5031489 L82.3678961,16.8170213 Z M13.2854468,45.9234043 L30.6619574,45.9234043 L30.6619574,50.6095319 L24.4914043,50.6095319 L24.4914043,66.2978723 L19.456,66.2978723 L19.456,50.6095319 L13.2854468,50.6095319 L13.2854468,45.9234043 Z M45.0448448,45.9234043 L50.080249,45.9234043 L50.080249,66.2978723 L45.0448448,66.2978723 L45.0448448,58.0898723 L37.8555682,58.0898723 L37.8555682,66.2978723 L32.8201639,66.2978723 L32.8201639,45.9234043 L37.8555682,45.9234043 L37.8555682,53.4037447 L45.0448448,53.4037447 L45.0448448,45.9234043 Z M53.7810938,45.9234043 L65.9184555,45.9234043 L65.9184555,50.6095319 L58.8164981,50.6095319 L58.8164981,53.5201702 L64.8415194,53.5201702 L64.8415194,58.2062979 L58.8164981,58.2062979 L58.8164981,61.6117447 L65.9184555,61.6117447 L65.9184555,66.2978723 L53.7810938,66.2978723 L53.7810938,45.9234043 Z M31.3605106,75.0297872 L37.2691064,75.0297872 L37.2691064,95.4042553 L32.2337021,95.4042553 L32.2337021,84.1982979 L31.6515745,86.2066383 L28.2170213,95.4042553 L23.8801702,95.4042553 L20.445617,86.2066383 L19.8634894,84.1982979 L19.8634894,95.4042553 L14.8280851,95.4042553 L14.8280851,75.0297872 L20.7366809,75.0297872 L25.684766,86.7596596 L26.0340426,87.8657021 L26.4124255,86.7596596 L31.3605106,75.0297872 Z M40.9699512,75.0297872 L53.1073129,75.0297872 L53.1073129,79.7159149 L46.0053554,79.7159149 L46.0053554,82.6265532 L52.0303767,82.6265532 L52.0303767,87.3126809 L46.0053554,87.3126809 L46.0053554,90.7181277 L53.1073129,90.7181277 L53.1073129,95.4042553 L40.9699512,95.4042553 L40.9699512,75.0297872 Z M72.7002428,75.0297872 L78.6088385,75.0297872 L78.6088385,95.4042553 L73.5734343,95.4042553 L73.5734343,84.1982979 L72.9913066,86.2066383 L69.5567534,95.4042553 L65.2199023,95.4042553 L61.7853492,86.2066383 L61.2032215,84.1982979 L61.2032215,95.4042553 L56.1678172,95.4042553 L56.1678172,75.0297872 L62.076413,75.0297872 L67.0244981,86.7596596 L67.3737747,87.8657021 L67.7521577,86.7596596 L72.7002428,75.0297872 Z M82.3096833,75.0297872 L94.447045,75.0297872 L94.447045,79.7159149 L87.3450876,79.7159149 L87.3450876,82.6265532 L93.3701088,82.6265532 L93.3701088,87.3126809 L87.3450876,87.3126809 L87.3450876,90.7181277 L94.447045,90.7181277 L94.447045,95.4042553 L82.3096833,95.4042553 L82.3096833,75.0297872 Z"
              id="WHATTHEMEME" fill="#FFFFFF" fill-rule="nonzero"></path>
            <rect id="Rectangle" stroke="#FFFFFF" stroke-width="8" x="0" y="0" width="117.234043" height="114" rx="23">
            </rect>
            <rect id="Rectangle" fill="#FFFFFF" x="75.1914894" y="43.6595745" width="43.6595745" height="25.0638298"
              rx="4"></rect>
          </g>
        </g>
      </svg>
    </div>

  </div>
</nav>
<div class="wrapper">
 
  <div class="main">

    <div class="section section-basic" id="basic-elements">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 brand-bio">
            We are all mad here. Anyway start creating your own pun else life will!
          </div>
          <div class="col-xs-6 col-sm-6 ml-auto" style="text-align: center;">
            <input style="display: none" type="file" accept="image/jpeg" (change)="onFileChanged($event)" #fileInput>
            <button type="button" class="btn btn-primary text-right ml-auto" [disabled]="btnStatus" style="margin-top: 20px;
            margin-bottom: 20px;text-align: center;" (click)="fileInput.click()">Add Custom Image
              &nbsp;

              <span *ngIf="loaderStatus" class="loader-css" style="position: absolute;bottom: 4px;right: 8px;">
                <!-- By Sam Herbert (@sherb), for everyone. More @ http://goo.gl/7AJzbL -->
                <svg width="32" height="32" viewBox="0 0 44 44" xmlns="http://www.w3.org/2000/svg" stroke="#fff">
                  <g fill="none" fill-rule="evenodd" stroke-width="2">
                    <circle cx="22" cy="22" r="1">
                      <animate attributeName="r" begin="0s" dur="1.8s" values="1; 20" calcMode="spline" keyTimes="0; 1"
                        keySplines="0.165, 0.84, 0.44, 1" repeatCount="indefinite" />
                      <animate attributeName="stroke-opacity" begin="0s" dur="1.8s" values="1; 0" calcMode="spline"
                        keyTimes="0; 1" keySplines="0.3, 0.61, 0.355, 1" repeatCount="indefinite" />
                    </circle>
                    <circle cx="22" cy="22" r="1">
                      <animate attributeName="r" begin="-0.9s" dur="1.8s" values="1; 20" calcMode="spline"
                        keyTimes="0; 1" keySplines="0.165, 0.84, 0.44, 1" repeatCount="indefinite" />
                      <animate attributeName="stroke-opacity" begin="-0.9s" dur="1.8s" values="1; 0" calcMode="spline"
                        keyTimes="0; 1" keySplines="0.3, 0.61, 0.355, 1" repeatCount="indefinite" />
                    </circle>
                  </g>
                </svg>
              </span>
            </button>
          </div>
          <div class="col-xs-6 col-sm-6" style="text-align: center;margin-bottom:12px;">
            <h4 class="or-cls" style="margin-bottom:12px;">OR</h4>
            <span class="title">Choose a meme template</span>


          </div>

        </div>
      </div>
    </div>
  </div>

  <div id="card-columns" class="card-columns mx-2">
    <div class="container-fluid">
      <div class="row">

        <ng-container *ngFor="let meme of memes">
          <div class="col-6">
            <img src="{{meme.url}}" [routerLink]="['/meme',meme.id]" class="card-img-top " alt="...">
            <!-- <div class="card-body"> -->
            <h5 class="card-title" style="text-align: center;">{{meme.name}}</h5>
            <!-- <a [routerLink]="['/meme',meme.id]" class="btn btn-primary">Choose</a> -->
          </div>
        </ng-container>

      </div>
    </div>
  </div>

</div>

<!-- <img src="assets/img/loader.gif" *ngIf="loaderStatus" class="loader-css" -->
<!-- style="position: absolute;top: 50vh;left: 30%;" /> -->