/* You can add global styles to this file, and also import other style files */

body{
    font-family: 'Montserrat', sans-serif !important;
    color:#d8d9ed !important;
}

.brand-bio{
    text-align: center;
    margin: 8px 12px 0px 12px;
}